###################################
# ========= APP CONFIG ============
###################################

NODE_ENV=development
PORT=5000
APP_PUBLIC_URL=http://localhost:5000



###################################
# ========= CLIENT CONFIG =========
###################################

CLIENT_URL=http://localhost:5173



###################################
# ========= DATABASE (Laravel Style)
###################################

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=indofpa
DB_USERNAME=root
DB_PASSWORD=



###################################
# ========= AUTH / JWT ============
###################################

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d



###################################
# ========= COOKIE CONFIG =========
###################################

COOKIE_SECURE=false
COOKIE_SAMESITE=lax
